---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Entire.Life">
	<main>
		<h1>Welcome to <span class="text-gradient">Entire.Life</span></h1>
		<!-- <form onSubmit={(e) => {
			e.preventDefault()
			console.log(e.target.inputs)
		}}>
			<label>
				Name
				<input id="name" />
			</label>
			<label>
				Date of birth
				<input type="date" defaultValue="1990-01-01" id="dob" />
			</label>
		</form> -->
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
